<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<title th:text="#{welcome.title}">SSMCT</title>
</head>
<body>
	<h1 th:text="#{welcome.header}">Welcome!</h1>
	<div th:if="${message}">
		<h2 th:text="${message}"></h2>
	</div>
	<div></div>

	<div>

		<form th:each="class : ${segmenters.keySet()}" method="post" action="/compare">
			<div th:each="constructors : ${segmenters.get(class)}">
				<div th:each="constructor : ${constructors}">
					<span th:text="${constructor.getName()}"></span>
					<input type="hidden" name="segmenter" th:value="${constructor.getName()}">
					<div th:each="parameter : ${constructor.getParameters()}">
						<label th:text="${parameter.getAnnotation(paramClass).name()}"></label>
						<div th:if="${parameter.getAnnotation(paramClass).type()==NUMBER}">
							<input type="number" th:name="${parameter.name}"
								th:min="${parameter.getAnnotation(paramClass).min()}"
								th:max="${parameter.getAnnotation(paramClass).max()}">
						</div>
						<div th:if="${parameter.getAnnotation(paramClass).type()==STRING}">
							<input
								th:if="${parameter.getAnnotation(paramClass).regex().isEmpty()}"
								type="text" th:name="${parameter.name}"> <input
								th:if="${!parameter.getAnnotation(paramClass).regex().isEmpty()}"
								type="text" th:name="${parameter.name}"
								th:pattern="${parameter.getAnnotation(paramClass).regex()}">
						</div>
						<div th:if="${parameter.getAnnotation(paramClass).type()==BOOL}">
							<input type="checkbox" th:name="${parameter.name}">
						</div>
						
						<br>

					</div>
				</div>
			</div>
			<input type="submit" value="Submit">
		</form>

	</div>
</body>
</html>