<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<title th:text="#{welcome.title}">SSMCT</title>
</head>
<body>
	<h1 th:text="#{welcome.header}">Welcome!</h1>
	<div th:if="${message}">
		<h2 th:text="${message}"></h2>
	</div>
	<div>
		<form method="POST" enctype="multipart/form-data" action="/">
			<table>
				<tr>
					<td>File to upload:</td>
					<td><input type="file" name="file" /></td>
				</tr>
				<tr>
					<td></td>
					<td><input type="submit" value="Upload" /></td>
				</tr>
			</table>
		</form>
	</div>

	<div>
		<ul>
			<li th:each="file : ${files}"><a th:href="${file}"
				th:text="${file}"></a></li>
		</ul>
	</div>
</body>
</html>